body {
	margin: 0;
	font-family: Open Sans,Helvetica,Arial,sans-serif;
	color: teal;
}

.container {
    margin: 0;
}

h1 {
	margin-block: 0;
	margin-bottom: 0.5em;
	font-size: 2.5em;
	text-align: left;
	color: white;
	background-color: lightseagreen;
	font-weight: 400;
	padding-left: 70px;
	padding-top: 60px;
	padding-bottom: 20px;
	vertical-align: bottom;
}

form {
	float: left;
	padding: 10px;
	margin: 10px;
	border-style: solid;
	border-color: lightseagreen;
	border-width: medium;
	border-radius: 12px;
    text-align: left;
    text-align: center;
	min-width: 350px;
}

label {
    font-weight: bold;
}

input[type=number] {
    width: 4em;
}

button {
    margin-top: 1em;
}

#mainToolbox {
	width: 1000px;
	height: fit-content;
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 120px;
	margin-right: 120px;
	border-style: solid;
	border-color: lightseagreen;
	border-width: medium;
	border-radius: 12px;
}

#preview {
	display: inline-block;
	margin: 10px;
	padding: 10px;
	width: 500px;
	height: 500px;
	border-style: solid;
	border-color: lightseagreen;
	border-width: medium;
	border-radius: 12px;
}