body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.banner {
    width: 100%;
    height: 120px;
    background-color: white;
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 80px;
  width: auto;
}

.labname {
  position: absolute;
  top: 40px;
  left: 170px;
  text-decoration: none;
  font-size: 36px;
  color: purple;
  text-align: center;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.topnav .nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.topnav a {
  align-items: center;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: white;
  color: purple;
}

.main {
    padding-left: 10%;
    padding-top: 4%;
    display: block;
    height: auto;
}

form {
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-color: purple;
    border-width: medium;
    border-radius: 12px;
    text-align: center;
    width: 360; /* Full width of the container */
}

label {
    font-weight: bold;
}

input[type=number] {
    width: 30%; /* Full width minus padding */
    padding: 5px; /* More comfortable padding */
    box-sizing: border-box; /* Includes padding in width */
}

input[type=file] {
    width: 60%; /* Full width minus padding */
    padding: 5px; /* More comfortable padding */
    box-sizing: border-box; /* Includes padding in width */
}

button {
    margin-top: 1em;
    width: 55%; /* Full width buttons */
}

.scramblerpreview {
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-color: purple;
    border-width: medium;
    border-radius: 12px;
    display: flex; /* Enables center alignment of the image inside */
    justify-content: center; /* Centers horizontally */
    align-items: center;
}

.scramblercontainer {
    display: flex;
    margin: 0;
    justify-content: center;
    flex-direction: row; /* Aligns children horizontally */
    align-items: center; /* Aligns items at the start of the container */
    width: 1000px; /* Adjusted to match the maximum content width */
}
